{:description
 "Make bulk updates to files across as many of your repos as you need",
 :category ["DEV_EX"],
 :video "https://images.atomist.com/skills/string-replace.gif",
 :package {:use "atomist/package-cljs-skill"},
 :repository "https://github.com/atomist-skills/string-replace-skill",
 :license "Apache-2.0",
 :resourceProviders
 [{:name "github",
   :description "GitHub",
   :typeName "GitHubAppResourceProvider",
   :minRequired 1,
   :maxAllowed 1}
  {:name "slack",
   :description "Slack",
   :typeName "SlackResourceProvider",
   :minRequired 0,
   :maxAllowed 1}],
 :homepage "https://github.com/atomist-skills/string-replace-skill",
 :displayName "string replace skill",
 :name "atomist/string-replace-skill",
 :long_description
 "Automatically replace strings in files based on a regular expression.\n- Update configuration, code, documentation or any file in your codebase\n- Rename packages across an entire codebase\n- Update information needing periodic revision like dates, licenses, comment blocks\n",
 :icon "https://images.atomist.com/rug/regex.png",
 :title "String Replace",
 :author "Atomist",
 :dispatch "multiple",
 :commands
 [{:name "StringReplaceSkill",
   :description "Invoke the StringReplaceSkill on a linked repository",
   :pattern "^string-replace .*$"}
  {:name "FindUrlSkill",
   :description "Find all urls in the codebase",
   :pattern "^find-by-regex .*$"}],
 :iconUrl
 "https://raw.githubusercontent.com/cljs/logo/master/cljs.png",
 :runtime
 {:name "nodejs10",
  :entry_point "eventhandler",
  :memory 1024,
  :timeout 120},
 :homepageUrl "https://github.com/atomist-skills/string-replace-skill",
 :parameters
 [{:stringArray
   {:description
    "Add one or more glob patterns. If no glob pattern is entered, the skill will run on all the files in the selected repositories.",
    :displayName "Replace in files",
    :name "glob-pattern",
    :placeHolder "**/*.html",
    :required false}}
  {:string
   {:description
    "Enter string replacement expression (supports only the 'g' option)",
    :displayName "Substitution expression",
    :name "expression",
    :placeHolder "s/search/replace/g",
    :pattern "s/.*/.*/[gim]?",
    :required true}}
  {:singleChoice
   {:name "update",
    :displayName "Branch selection",
    :description "Select which branches the skill should run on",
    :options
    [{:text "Default branch only", :value "pr_default"}
     {:text "All branches", :value "pr"}],
    :required true,
    :defaultValue "pr_default"}}
  {:schedule
   {:description
    "Run this regex on every Push OR provide a cron schedule.",
    :displayName "Cron Schedule",
    :name "schedule",
    :required false}}
  {:repoFilter
   {:description
    "The set of Repositories for this String Replace rule.",
    :displayName "Which repositories",
    :name "scope",
    :required false}}],
 :namespace "atomist",
 :artifacts
 {:gcf
  [{:name "package-cljs-skill",
    :entryPoint "eventhandler",
    :memory 512, 
    :runtime "nodejs10", 
    :timeout 60}]}}
