;; Copyright © 2020 Atomist, Inc.
;;
;; Licensed under the Apache License, Version 2.0 (the "License");
;; you may not use this file except in compliance with the License.
;; You may obtain a copy of the License at
;;
;;     http://www.apache.org/licenses/LICENSE-2.0
;;
;; Unless required by applicable law or agreed to in writing, software
;; distributed under the License is distributed on an "AS IS" BASIS,
;; WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
;; See the License for the specific language governing permissions and
;; limitations under the License.

{:description
 "Make bulk updates to files across as many of your repos as you need",
 :categories ["REPO_MANAGEMENT"],
 :video "https://images.atomist.com/skills/string-replace.gif",
 :repository "https://github.com/atomist-skills/string-replace-skill",
 :license "Apache-2.0",
 :resourceProviders
 [{:name "github",
   :description "GitHub",
   :typeName "GitHubAppResourceProvider",
   :minRequired 1,
   :maxAllowed 1}],
 :homepage "https://github.com/atomist-skills/string-replace-skill",
 :displayName "string replace skill",
 :name "string-replace-skill",
 :long_description
 "Automatically replace strings in files based on a regular expression.\n- Update configuration, code, documentation or any file in your codebase\n- Rename packages across an entire codebase\n- Update information needing periodic revision like dates, licenses, comment blocks\n",
 :title "String Replace",
 :author "Atomist",
 :commands
 [{:name "StringReplaceSkill",
   :description "Invoke the StringReplaceSkill on a linked repository",
   :pattern "^string-replace .*$"}
  {:name "FindUrlSkill",
   :description "Find all urls in the codebase",
   :pattern "^find-by-regex .*$"}],
 :iconUrl
 "https://raw.githubusercontent.com/atomist-skills/string-replace-skill/main/docs/images/icon.svg",
 :homepageUrl "https://github.com/atomist-skills/string-replace-skill",
 :parameters
 [{:stringArray
   {:description
    "Add one or more glob patterns. If no glob pattern is entered, the skill will run on all the files in the selected repositories.",
    :displayName "Replace in files",
    :name "glob-pattern",
    :placeHolder "**/*.html",
    :required false}}
  {:string
   {:description
    "Enter string replacement expression (supports only the 'g' option)",
    :displayName "Substitution expression",
    :name "expression",
    :placeHolder "s/search/replace/g",
    :pattern "s/.*/.*/[gim]?",
    :required true}}
  {:singleChoice
   {:name "update",
    :displayName "Branch selection",
    :description "Select which branches the skill should run on",
    :options
    [{:text "Default branch only", :value "pr_default"}
     {:text "All branches", :value "pr"}],
    :required true,
    :defaultValue "pr_default"}}
  {:schedule
   {:description
    "Run this regex on every Push OR provide a cron schedule.",
    :displayName "Cron Schedule",
    :name "schedule",
    :required false}}
  {:repoFilter
   {:description
    "The set of Repositories for this String Replace rule.",
    :displayName "Which repositories",
    :name "scope",
    :required false}}],
 :namespace "atomist",
 :artifacts
 {:gcf
  [{:name "package-cljs-skill",
    :entryPoint "eventhandler",
    :memory 512, 
    :runtime "nodejs10", 
    :timeout 60}]}}
